<%= form_tag( "/#{@params[:controller]}/#{@params[:action]}", :id => :form ) do %>
	
	<hr />
	<div style="position: center; text-align: center;">

		<input type="button" id="btn_allselect" value="全選択" />
		<input type="button" id="btn_allclear"  value="全解除" />
		
	</div>
	<hr />
	<br />
	<br />
	
	
	<% #*********************** series select( check ) box *********************** %>
	<table border="1" width="70%" align="center">
		<% tr_size	= 2 #行数 %>
		<% td_size	= @series.size / tr_size %>
		<% series	= @series.to_a %>
		<% tr_size.times do | tridx | %>
			<tr>
				<% tdbase = td_size * tridx %>
				<% td_size.times do | tdidx | %>
					<td width="<%=( 100 / td_size - 1 ) %>%" class="<%=series[ tdbase + tdidx ][1][:text]%>">
						<input	type  = "checkbox"
								name  = "series[]"
								id    = "series_<%=tdbase + tdidx%>"
								value = "<%=series[ tdbase + tdidx ][0]%>"
								<% if @params[:series].include?( series[ tdbase + tdidx ][0] )%>checked<% end %>
						/>
						<label for="series_<%=tdbase + tdidx%>">
							<b><%=series[ tdbase + tdidx ][1][:name]%></b>
						</label>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<% #********************************************** %>

	<br />
	<hr />
	<div style="position: center; text-align: center;">
		<% is_empty_main = @params[:mainlist].empty? %>
		<select name="extract_type" id="extract_type">
			<option value="type_main"   <% if @params[ :extract_type ] == "type_main"   %>   selected <% end %>>全サプライ</option>
			<% unless is_empty_main %>
				<option value="type_suball" <% if @params[ :extract_type ] == "type_suball" %> selected <% end %>>メインサプライ以外</option>
				<option value="type_sub"    <% if @params[ :extract_type ] == "type_sub"    %> selected <% end %>>サブサプライのみ</option>
				<% unless @playable_series.select{ | obj | obj.series_name == "Darkages" }.empty? %>
					<option value="type_deck" <% if @params[ :extract_type ] == "type_deck" %> selected <% end %>>デッキのみ</option>
				<% end %>
				<% if @mainlist.include?( Cornucopia::YoungWitchNumber ) %>
					<option value="type_opt"    <% if @params[ :extract_type ] == "type_opt"    %> selected <% end %>>災いのみ</option>
					<option value="type_subopt" <% if @params[ :extract_type ] == "type_subopt" %> selected <% end %>>サブサプライ, 災い</option>
				<% end %>
			<% end %>
		</select>

		<input type="button" id="extract" value="<% unless is_empty_main %>再<% end %>抽出" />
	</div>

	<hr />
	<br />
	
		<input type="hidden" name="mainlist" id="mainlist" value="<%=@params[:mainlist]%>" />
		<input type="hidden" name="sublist"  id="sublist"  value="<%=@params[:sublist]%>"  />
		<input type="hidden" name="decklist" id="decklist" value="<%=@params[:decklist]%>" />
		<input type="hidden" name="optlist"  id="optlist"  value="<%=@params[:optlist]%>"  />
<% end %>


<% #*********************** main *********************** %>
<% unless @mainlist.empty? %>
	<table border="1" width="100%" align="center">
		<% tr_size	= 2 #行数 %>
		<% td_size	= @mainlist.size / tr_size %>
		<% tr_size.times do | tridx | %>		
			<tr>
				<% tdbase = td_size * tridx %>
				<% ( ( 0 + tdbase )..( td_size - 1 + tdbase ) ).each do | tdidx | %>
					<td width="<%=( 100 / td_size - 1 ) %>%">
						<%=make_card_table( @mainlist[ tdidx ] )%>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>
<% #********************************************** %>

<br/>
<br/>


<% #*********************** sub *********************** %>
<% unless @sublist.empty? %>
	<table border="1" width="100%" align="center">
		<% sublist	= @sublist + @optionlist %>
		<% td_size	= 7 #列数 %>
		<% tr_size	= ( sublist.size / td_size.to_f ).ceil  %>
		<% tr_size.times do | tridx | %>		
			<tr>
				<% tdbase = td_size * tridx %>
				<% ( ( 0 + tdbase )..( td_size - 1 + tdbase ) ).each do | tdidx | %>
					<td width="<%=( 100 / td_size - 1 ) %>%">
						<% unless sublist[ tdidx ].nil? %>
							<%=make_card_table( sublist[ tdidx ] )%>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>
<% #********************************************** %>

<br/>
<br/>

<% #*********************** deck *********************** %>
<% unless @decklist.empty? %>
	<table border="1" width="50%" align="center">	
		<tr>
			<% @decklist.each do | obj | %>
				<td width="33%">
					<%=make_card_table( obj )%>
				</td>
			<% end %>
		</tr>
	</table>
<% end %>
<% #********************************************** %>



<br/>
<br/>



<table border="1">
	<% @params.each do| k, v | %>
		<tr>
			<td colspan="2"><%=k%></td>
			<td><%=v.to_s%></td>
		</tr>
	<% end %>
		<tr>
			<td>mainlist</td>
			<td><%=@mainlist.size%></td>
			<td><%=@mainlist.to_s%></td>
		</tr>
		<tr>
			<td>sublist</td>
			<td><%=@sublist.size%></td>
			<td><%=@sublist.to_s%></td>
		</tr>
		<tr>
			<td>decklist</td>
			<td><%=@decklist.size%></td>
			<td><%=@decklist.to_s%></td>
		</tr>
		<tr>
			<td>optionlist</td>
			<td><%=@optionlist.size%></td>
			<td><%=@optionlist.to_s%></td>
		</tr>
</table>
<br/>
<br/>

<pre>
link_to:
<%= url_for( :host => Socket::gethostname, :controller => @params[:controller], :action => @params[:action],
		:mainlist	=> @params[ :mainlist ],
		:sublist	=> @params[ :sublist ],
		:decklist	=> @params[ :decklist ],
		:optionlist	=> @params[ :optionlist ],
		:only_path	=> false
) %>
</pre>

?decklist=040404&mainlist=09182b4c5a898b9bc0ed&sublist=0102030405060761588283848f90aecfd3d6d7